
.heading img{
   float: left;
   height: 50px;
   width: 60px;
   padding : 40px

}

.heading h1{
    color: blueviolet;
    font-style: italic;
    align-content: center;
    text-align: center;
    padding-top: 50px;
}

.middle{
    padding-left: 150px;
    text-align: center;
}

.newWindow wdBtn{
    background-color: darkgreen;
    color: darkgrey;
}
.Quiz{
    display:none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}